/9060_10090_kinaselist/
/all/
/biogrid/input/
/cheng.etal/input/
/dbptm/input/
/harmonizome/input/
/hippie/input/
/mentha/input/
/mint/input/
/phosD/input/
/phospho.ELM/input/
/phosphonetworks/input/
/phosphositeplus/input/
/pips/input/
/psopia/input/
/ptmsigdb/input/
/reactome/input/
/string/input/